In [139]:
import pandas as pd
import numpy as np
import seaborn as sns

## Australia Airbnb data set

In [140]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [141]:
# Neighbourhood list for geo filter. Sourced from city or open source GIS files.
hoods = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/visualisations/neighbourhoods.csv")

In [142]:
hoods.columns

Index(['neighbourhood_group', 'neighbourhood'], dtype='object')

## Cleaning the Neighbourhood df   (1)
 1. drop neighbourhood_group col.

In [143]:
hoods.tail(11)

     neighbourhood_group           neighbourhood
126                  NaN                WESTONIA
127                  NaN                WICKEPIN
128                  NaN                WILLIAMS
129                  NaN                  WILUNA
130                  NaN          WONGAN-BALLIDU
131                  NaN            WOODANILLING
132                  NaN             WYALKATCHEM
133                  NaN  WYNDHAM-EAST KIMBERLEY
134                  NaN                  YALGOO
135                  NaN                 YILGARN
136                  NaN                    YORK

*The neighbourhood_group columns was removed in cell below

In [144]:
#hoods = hoods.drop(['neighbourhood_group'], axis=1)
hoods.head(7)

   neighbourhood_group           neighbourhood
0                  NaN                  ALBANY
1                  NaN                ARMADALE
2                  NaN               ASHBURTON
3                  NaN  AUGUSTA-MARGARET RIVER
4                  NaN              BASSENDEAN
5                  NaN               BAYSWATER
6                  NaN                 BELMONT

In [145]:
hoods = hoods.drop(['neighbourhood_group'], axis=1)
hoods.head(7)

            neighbourhood
0                  ALBANY
1                ARMADALE
2               ASHBURTON
3  AUGUSTA-MARGARET RIVER
4              BASSENDEAN
5               BAYSWATER
6                 BELMONT

In [191]:
hoods.neighbourhood.count()

137

In [146]:
# Summary Review data and Listing ID (to facilitate time based 
# analytics and visualisations linked to a listing).
reviews = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/visualisations/reviews.csv")

In [147]:
#reviews = reviews.set_index("listing_id")
reviews.head(7)

   listing_id        date
0        2115  2012-10-30
1        2115  2017-09-03
2        2115  2017-10-01
3        2115  2018-04-21
4        2115  2018-09-18
5        2115  2018-10-01
6        2115  2018-10-21

In [195]:
reviews.date.value_counts()

2020-03-02    1416
2019-09-30    1295
2020-01-27    1248
2019-06-03    1157
2019-03-04    1142
              ...
2012-11-03       1
2013-06-06       1
2013-04-30       1
2013-03-22       1
2011-11-11       1
Name: date, Length: 2936, dtype: int64

## Clean reviews df
1.  change date column to a datetime data type

In [148]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378566 entries, 0 to 378565
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  378566 non-null  int64
 1   date        378566 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.8+ MB

In [196]:
# reviews = reviews.reset_index('listing_id')
reviews.head(4)

   listing_id       date
0        2115 2012-10-30
1        2115 2017-09-03
2        2115 2017-10-01
3        2115 2018-04-21

In [150]:
#Changing to datetime data type
reviews['date'] = pd.to_datetime(reviews['date'])

In [151]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378566 entries, 0 to 378565
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  378566 non-null  int64
 1   date        378566 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.8 MB

In [152]:
reviews.tail(7)

        listing_id       date
378559    43537496 2020-06-01
378560    43538263 2020-06-01
378561    43538436 2020-06-08
378562    43538436 2020-06-10
378563    43546196 2020-06-10
378564    43550590 2020-06-08
378565    43570607 2020-06-01

In [197]:
reviews.date.min()

Timestamp('2010-12-22 00:00:00')

In [198]:
reviews.date.mean()

Timestamp('2018-09-09 21:02:09.120945920')

In [199]:
reviews.date.max()

Timestamp('2020-06-11 00:00:00')

In [153]:
reviews.info

<bound method DataFrame.info of         listing_id       date
0             2115 2012-10-30
1             2115 2017-09-03
2             2115 2017-10-01
3             2115 2018-04-21
4             2115 2018-09-18
...            ...        ...
378561    43538436 2020-06-08
378562    43538436 2020-06-10
378563    43546196 2020-06-10
378564    43550590 2020-06-08
378565    43570607 2020-06-01

[378566 rows x 2 columns]>

In [154]:
# Summary information and metrics for 
# listings in Western Australia (good for visualisations).
lis = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/visualisations/listings.csv")

In [155]:
lis.head(7)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2115,Como Quality Suite Accommodation,2313,Helen,NaN,SOUTH PERTH,-32.00871,115.86407,Private room,101,2,19,2020-06-04,0.20,1,143
1,37688,Living in our family home,162227,Theja,NaN,MELVILLE,-32.06806,115.87674,Private room,72,1,0,NaN,NaN,1,365
2,42713,Bed with Breakfast,186576,Denise,NaN,IRWIN,-29.25216,114.93205,Private room,94,1,7,2019-10-03,0.11,1,365
3,45825,St James for short-longer stay?,204056,Carol,NaN,CANNING,-32.00395,115.91394,Private room,60,3,0,NaN,NaN,2,365
4,58329,Trewent Farmhouse - rustic & rambling,277321,Karen,NaN,MANJIMUP,-34.35542,116.18267,Entire home/apt,220,2,43,2020-06-01,0.42,2,1
5,59311,family home in canning vale,284743,Rudy And Lina,NaN,GOSNELLS,-32.07592,115.93188,Private room,64,1,7,2018-04-28,0.06,1,362
6,65261,"Bright but cosy Fremantle Unit, 1-2 Guests",319052,Suzanne Elizabeth,NaN,FREMANTLE,-32.04964,115.76582,Entire home/apt,62,2,233,2020-04-04,2.14,1,89

In [156]:
lis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12454 non-null  int64
 1   name                            12452 non-null  object
 2   host_id                         12454 non-null  int64
 3   host_name                       12449 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12454 non-null  object
 6   latitude                        12454 non-null  float64
 7   longitude                       12454 non-null  float64
 8   room_type                       12454 non-null  object
 9   price                           12454 non-null  int64
 10  minimum_nights                  12454 non-null  int64
 11  number_of_reviews               12454 non-null  int64
 12  last_review                     10669 non-null  object
 13  reviews_per_month               10669 non-null  float64
 14  calculated_host_listings_count  12454 non-null  int64
 15  availability_365                12454 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.5+ MB

In [208]:
group = lis.groupby(['host_id','host_name','price'])
group.value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

## Clean Listing df

1. set index to id col
2. change last_review col into datetime obj
3. drop neighbourhood_group col

In [157]:
lis.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [158]:
# The neighbourhood_group col was drop in this here
# lis = lis.drop(['neighbourhood_group'], axis=1)
lis.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2115,Como Quality Suite Accommodation,2313,Helen,NaN,SOUTH PERTH,-32.00871,115.86407,Private room,101,2,19,2020-06-04,0.20,1,143
1,37688,Living in our family home,162227,Theja,NaN,MELVILLE,-32.06806,115.87674,Private room,72,1,0,NaN,NaN,1,365
2,42713,Bed with Breakfast,186576,Denise,NaN,IRWIN,-29.25216,114.93205,Private room,94,1,7,2019-10-03,0.11,1,365
3,45825,St James for short-longer stay?,204056,Carol,NaN,CANNING,-32.00395,115.91394,Private room,60,3,0,NaN,NaN,2,365
4,58329,Trewent Farmhouse - rustic & rambling,277321,Karen,NaN,MANJIMUP,-34.35542,116.18267,Entire home/apt,220,2,43,2020-06-01,0.42,2,1

In [159]:
lis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12454 non-null  int64
 1   name                            12452 non-null  object
 2   host_id                         12454 non-null  int64
 3   host_name                       12449 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12454 non-null  object
 6   latitude                        12454 non-null  float64
 7   longitude                       12454 non-null  float64
 8   room_type                       12454 non-null  object
 9   price                           12454 non-null  int64
 10  minimum_nights                  12454 non-null  int64
 11  number_of_reviews               12454 non-null  int64
 12  last_review                     10669 non-null  object
 13  reviews_per_month               10669 non-null  float64
 14  calculated_host_listings_count  12454 non-null  int64
 15  availability_365                12454 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.5+ MB

In [160]:
# Changing the last_review column into a datetime object
lis['last_review'] = pd.to_datetime(lis['last_review'])
lis.head(7)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2115,Como Quality Suite Accommodation,2313,Helen,NaN,SOUTH PERTH,-32.00871,115.86407,Private room,101,2,19,2020-06-04,0.20,1,143
1,37688,Living in our family home,162227,Theja,NaN,MELVILLE,-32.06806,115.87674,Private room,72,1,0,NaT,NaN,1,365
2,42713,Bed with Breakfast,186576,Denise,NaN,IRWIN,-29.25216,114.93205,Private room,94,1,7,2019-10-03,0.11,1,365
3,45825,St James for short-longer stay?,204056,Carol,NaN,CANNING,-32.00395,115.91394,Private room,60,3,0,NaT,NaN,2,365
4,58329,Trewent Farmhouse - rustic & rambling,277321,Karen,NaN,MANJIMUP,-34.35542,116.18267,Entire home/apt,220,2,43,2020-06-01,0.42,2,1
5,59311,family home in canning vale,284743,Rudy And Lina,NaN,GOSNELLS,-32.07592,115.93188,Private room,64,1,7,2018-04-28,0.06,1,362
6,65261,"Bright but cosy Fremantle Unit, 1-2 Guests",319052,Suzanne Elizabeth,NaN,FREMANTLE,-32.04964,115.76582,Entire home/apt,62,2,233,2020-04-04,2.14,1,89

### neighbourhood_group Column was dropped

In [161]:
# lis = lis.drop(['neighbourhood_group'], axis=1)
lis.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2115,Como Quality Suite Accommodation,2313,Helen,NaN,SOUTH PERTH,-32.00871,115.86407,Private room,101,2,19,2020-06-04,0.20,1,143
1,37688,Living in our family home,162227,Theja,NaN,MELVILLE,-32.06806,115.87674,Private room,72,1,0,NaT,NaN,1,365
2,42713,Bed with Breakfast,186576,Denise,NaN,IRWIN,-29.25216,114.93205,Private room,94,1,7,2019-10-03,0.11,1,365
3,45825,St James for short-longer stay?,204056,Carol,NaN,CANNING,-32.00395,115.91394,Private room,60,3,0,NaT,NaN,2,365
4,58329,Trewent Farmhouse - rustic & rambling,277321,Karen,NaN,MANJIMUP,-34.35542,116.18267,Entire home/apt,220,2,43,2020-06-01,0.42,2,1

In [162]:
lis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12454 entries, 0 to 12453
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12454 non-null  int64
 1   name                            12452 non-null  object
 2   host_id                         12454 non-null  int64
 3   host_name                       12449 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12454 non-null  object
 6   latitude                        12454 non-null  float64
 7   longitude                       12454 non-null  float64
 8   room_type                       12454 non-null  object
 9   price                           12454 non-null  int64
 10  minimum_nights                  12454 non-null  int64
 11  number_of_reviews               12454 non-null  int64
 12  last_review                     10669 non-null  datetime64[ns]
 13  reviews_per_month               10669 non-null  float64
 14  calculated_host_listings_count  12454 non-null  int64
 15  availability_365                12454 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(4)
memory usage: 1.5+ MB

In [163]:
# Detailed Review Data for listings in Western Australia
reviews_ = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/data/reviews.csv.gz")

In [164]:
reviews_.head(4)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2115,2757959,2012-10-30,2091550,Albert,"Schnes App. mit grossen, sauberen Zimmern. He..."
1,2115,189850506,2017-09-03,19212496,Mandy,My two daughters and I were grateful for the c...
2,2115,198932959,2017-10-01,4244731,Suliman,"A perfect place and host, thank you for the wo..."
3,2115,255553398,2018-04-21,172272225,Sharon,Great location and very comfortable. Helen is ...

In [165]:
reviews_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378566 entries, 0 to 378565
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     378566 non-null  int64
 1   id             378566 non-null  int64
 2   date           378566 non-null  object
 3   reviewer_id    378566 non-null  int64
 4   reviewer_name  378566 non-null  object
 5   comments       378374 non-null  object
dtypes: int64(3), object(3)
memory usage: 17.3+ MB

## Clean reviews_ df
1. Use listing_id for set index
2. Change date col into a datetime data type

In [166]:
reviews_['date'] = pd.to_datetime(reviews_['date'])

In [167]:
reviews_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378566 entries, 0 to 378565
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     378566 non-null  int64
 1   id             378566 non-null  int64
 2   date           378566 non-null  datetime64[ns]
 3   reviewer_id    378566 non-null  int64
 4   reviewer_name  378566 non-null  object
 5   comments       378374 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 17.3+ MB

In [168]:
reviews_.tail(4)

,listing_id,id,date,reviewer_id,reviewer_name,comments
378562,43538436,628720099,2020-06-10,22723975,Corina,"We spent one night at Julie's place, on our wa..."
378563,43546196,628713245,2020-06-10,39869267,Peter,This is how hospitality should be done. The ho...
378564,43550590,628441134,2020-06-08,36245478,Paige,Thank you Jodee for a wonderful stay. Beautifu...
378565,43570607,627202046,2020-06-01,62853315,Renee,Maria welcomed me into her home with short not...

In [169]:
# Detailed Calendar Data for listings in Western Australia
cal = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/data/calendar.csv.gz")

In [170]:
cal.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [171]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545356 entries, 0 to 4545355
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: int64(3), object(4)
memory usage: 242.7+ MB

## Clean Calender df

1. Change date col into datetime obj
2. Change price col into int type
3. Change adjusted_price col into an int type
4. Change available col into Y or N

In [172]:
cal['date'] = pd.to_datetime(cal['date'])
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545356 entries, 0 to 4545355
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 242.7+ MB

In [173]:
cal.tail(6)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
4545350,43501643,2021-06-05,f,$325.00,$325.00,3,1125
4545351,43501643,2021-06-06,f,$325.00,$325.00,3,1125
4545352,43501643,2021-06-07,f,$325.00,$325.00,3,1125
4545353,43501643,2021-06-08,f,$325.00,$325.00,3,1125
4545354,43501643,2021-06-09,f,$325.00,$325.00,3,1125
4545355,43501643,2021-06-10,f,$325.00,$325.00,3,1125

In [174]:
# Chaning the date column type to an datetime obj
cal['date'] = pd.to_datetime(cal['date'])
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545356 entries, 0 to 4545355
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 242.7+ MB

In [175]:
cal['price'] = cal['price'].str.replace('$', '')
cal['price'] = cal['price'].str.replace(',', '')
cal['price'] = cal['price'].astype(float)
cal.head(2)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2115,2020-06-10,t,95.0,$95.00,2,1125
1,284891,2020-06-10,f,44.0,$44.00,1,31

In [176]:
cal['adjusted_price'] = cal['adjusted_price'].str.replace('$', '')
cal['adjusted_price'] = cal['adjusted_price'].str.replace(',', '')
cal['adjusted_price'] = cal['adjusted_price'].astype(float)
cal.head(2)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2115,2020-06-10,t,95.0,95.0,2,1125
1,284891,2020-06-10,f,44.0,44.0,1,31

In [177]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4545356 entries, 0 to 4545355
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 242.7+ MB

In [178]:
# Detailed Listings data for Western Australia
lis_ = pd.read_csv("http://data.insideairbnb.com/australia/wa/western-australia/2020-06-10/data/listings.csv.gz")

/Users/aaronkg1/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (43,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Cleaning lis_ Df
1. Dropping multiple columns. 
2. Changing price columns into floats.
3. Checking data types in multiple columns

In [179]:
print(lis_['bathrooms'].dtypes)

float64

In [180]:
lis_.head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2115,https://www.airbnb.com/rooms/2115,20200610033628,2020-06-10,Como Quality Suite Accommodation,For the discerning traveller. Close to the Cit...,Como quality suite is centrally located to bot...,For the discerning traveller. Close to the Cit...,none,Although we are only 10 minutes by car from th...,We live opposite a beautiful park with an adve...,Parking for a car is right outside our front d...,Guests are given their own key and come in thr...,As we live on site we are available for advice...,As we are in a quiet area you can not have par...,NaN,NaN,https://a0.muscache.com/im/pictures/110622978/...,NaN,2313,https://www.airbnb.com/users/show/2313,Helen,2008-08-19,"Perth, Western Australia, Australia",Being a retired empty nester who loves welcomi...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/2313/profile_...,https://a0.muscache.com/im/users/2313/profile_...,NaN,1.0,1.0,"['email', 'phone', 'reviews']",t,f,"Como, WA, Australia",NaN,SOUTH PERTH,NaN,Como,WA,6152,Perth,"Como, Australia",AU,Australia,-32.00871,115.86407,t,Bed and breakfast,Private room,5,1.0,2.0,3.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",""Free par...",NaN,$101.00,"$1,100.00",NaN,$0.00,$20.00,2,$35.00,2,30,2,2,1125,1125,2.0,1125.0,1 week ago,t,28,58,88,143,2020-06-10,19,6,2012-10-30,2020-06-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,t,f,flexible,f,f,1,0,1,0,0.20
1,37688,https://www.airbnb.com/rooms/37688,20200610033628,2020-06-10,Living in our family home,NaN,A room will be available for a girl/ student (...,A room will be available for a girl/ student (...,none,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/212330/d96...,NaN,162227,https://www.airbnb.com/users/show/162227,Theja,2010-07-09,"Perth, Western Australia, Australia",This room will not be available for some time....,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/162227/profil...,https://a0.muscache.com/im/users/162227/profil...,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'jumio', 'gover...",t,t,"Leeming, WA, Australia",NaN,MELVILLE,NaN,Leeming,WA,6149,Perth,"Leeming, Australia",AU,Australia,-32.06806,115.87674,t,House,Private room,1,2.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$72.00,$402.00,NaN,NaN,NaN,1,$0.00,1,730,1,1,730,730,1.0,730.0,never,t,30,60,90,365,2020-06-10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,moderate,f,f,1,0,1,0,NaN
2,42713,https://www.airbnb.com/rooms/42713,20200610033628,2020-06-11,Bed with Breakfast,We welcome you to this old character home with...,We live in an old (140yo) authentic Australian...,We welcome you to this old character home with...,none,Dongara is a west coast seaside town. The tow...,"The bedrooms are up stairs, the bathroom is d...",Being a small town there is no public transpor...,"Guests have access to lounge, dining, bathroo...",We generally socialise with guests if it suits...,"No Smoking inside, basic courtesy and manners,...",NaN,NaN,https://a0.muscache.com/im/pictures/8703808/19...,NaN,186576,https://www.airbnb.com/users/show/186576,Denise,2010-07-31,AU,Not applicable,NaN,NaN,80%,f,https://a0.muscache.com/im/users/186576/profil...,https://a0.muscache.com/im/users/186576/profil...,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,f,"Dongara, WA, Australia",NaN,IRWIN,NaN,Dongara,WA,6525,Other (International),"Dongara, Australia",AU,Australia,-29.25216,114.93205,t,House,Private room,2,1.0,1.0,1.0,Real Bed,"{Wifi,""Free parking on premises"",Washer/Dryer,...",215.0,$94.00,NaN,NaN,NaN,NaN,2,$20.00,1,730,1,1,730,730,1.0,730.0,3 months ago,t,30,60,90,365,2020-06-11,7,3,2015-06-03,2019-10-03,89.0,9.0,8.0,10.0,10.0,9.0,9.0,f,NaN,NaN,f,f,moderate,f,f,1,0,1,0,0.11
3,45825,https://www.airbnb.com/rooms/45825,20200610033628,2020-06-10,St James for short-longer stay?,"Suits busy and low maintenance businessmen, po...","Senior F in a quiet, secure, 3bedx2bath villa ...","Suits busy and low maintenance businessmen, po...",none,"bird life, proximity to amenities for daily li...",NaN,"Buses to CBD close by, train 1.4km away, and b...",NaN,As much as they would like or need as I live h...,"Eco-friendly living. mature, honest: clean coo...",NaN,NaN,https://a0.muscache.com/im/pictures/18323377/3...,NaN,204056,https://www.airbnb.com/users/show/204056,Carol,2010-08-17,"St James, Western Australia, Australia",I am a well-educated 64yo woman and rent out 2...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/204056/profil...,https://a0.muscache.com/im/users/204056/profil...,NaN,2.0,2.0,"['email', 'phone']",t,f,"St James, WA, Australia",NaN,CANNING,NaN,St James,WA,6102,Perth,"St James, Australia",AU,Australia,-32.00395,115.91394,t,Villa,Private room,1,1.0,1.0,1.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",NaN,$60.00,$385.00,"$1,100.00",$250.00,$20.00,1,$0.00,3,180,3,3,180,180,3.0,180.0,40 months ago,t,30,60,90,365,2020-06-10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,strict_14_with_grace_period,t,f,2,0,2,0,NaN
4,58329,https://www.airbnb.com/rooms/58329,20200610033628,2020-06-10,Trewent Farmhouse - rustic & rambling,Get away from the crowds! Tranquil space all t...,Get away from all the crowds of people! Welcom...,Get away from the crowds! Tranquil space all t...,none,Trewent is a great jumping off location for wi...,You might be the only people renting the house...,You need a car to explore the area but it's al...,"Guests can walk around the farm, maybe see spr...",We live just up the hill and are there to answ...,No smoking inside No pets No parties Respect t...,NaN,NaN,https://a0.muscache.com/im/pictures/13715693/d...,NaN,277321,https://www.airbnb.com/users/show/277321,Karen,2010-11-03,Southwest West Australia,I live near the beautiful karri forests of sou...,within a few hours,100%,95%,t,https://a0.muscache.com/im/users/277321/profil...,https://a0.muscache.com/im/users/277321/profil...,NaN,2.0,2.0,"['email', 'phone', 'manual_online', 'reviews',...",t,t,"Smith Brook, WA, Australia",NaN,MANJIMUP,NaN,Smith Brook,WA,6258,Other (International),"Smith Brook, Australia",AU,Australia,-34.35542,116.18267,f,House,Entire home/apt,8,1.0,5.0,6.0,Real Bed,"{TV,Kitchen,""Free parking on premises"",""Pets l...",NaN,$220.00,$990.00,NaN,$300.00,$0.00,4,$20.00,2,30,2,2,30,30,2.0,30.0,2 weeks ago,t,0,0,0,1,2020-06-10,43,9,2012-01-16,2020-06-01,97.0,10.0,9.0,10.0,10.0,10.0,10.0,f,NaN,NaN,f,f,moderate,f,f,2,2,0,0,0.42

In [181]:
# lis_ = lis_.drop(['scrape_id','experiences_offered','neighbourhood_group_cleansed'], axis=1, inplace=True)
# lis_ = lis_.drop(['square_feet','license','jurisdiction_names','calendar_updated'], axis=1, inplace=True)
lis_.head(4)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,house_rules,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2115,https://www.airbnb.com/rooms/2115,20200610033628,2020-06-10,Como Quality Suite Accommodation,For the discerning traveller. Close to the Cit...,Como quality suite is centrally located to bot...,For the discerning traveller. Close to the Cit...,none,Although we are only 10 minutes by car from th...,We live opposite a beautiful park with an adve...,Parking for a car is right outside our front d...,Guests are given their own key and come in thr...,As we live on site we are available for advice...,As we are in a quiet area you can not have par...,NaN,NaN,https://a0.muscache.com/im/pictures/110622978/...,NaN,2313,https://www.airbnb.com/users/show/2313,Helen,2008-08-19,"Perth, Western Australia, Australia",Being a retired empty nester who loves welcomi...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/2313/profile_...,https://a0.muscache.com/im/users/2313/profile_...,NaN,1.0,1.0,"['email', 'phone', 'reviews']",t,f,"Como, WA, Australia",NaN,SOUTH PERTH,NaN,Como,WA,6152,Perth,"Como, Australia",AU,Australia,-32.00871,115.86407,t,Bed and breakfast,Private room,5,1.0,2.0,3.0,Real Bed,"{TV,Internet,Wifi,""Air conditioning"",""Free par...",NaN,$101.00,"$1,100.00",NaN,$0.00,$20.00,2,$35.00,2,30,2,2,1125,1125,2.0,1125.0,1 week ago,t,28,58,88,143,2020-06-10,19,6,2012-10-30,2020-06-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,t,f,flexible,f,f,1,0,1,0,0.20
1,37688,https://www.airbnb.com/rooms/37688,20200610033628,2020-06-10,Living in our family home,NaN,A room will be available for a girl/ student (...,A room will be available for a girl/ student (...,none,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://a0.muscache.com/im/pictures/212330/d96...,NaN,162227,https://www.airbnb.com/users/show/162227,Theja,2010-07-09,"Perth, Western Australia, Australia",This room will not be available for some time....,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/162227/profil...,https://a0.muscache.com/im/users/162227/profil...,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'jumio', 'gover...",t,t,"Leeming, WA, Australia",NaN,MELVILLE,NaN,Leeming,WA,6149,Perth,"Leeming, Australia",AU,Australia,-32.06806,115.87674,t,House,Private room,1,2.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$72.00,$402.00,NaN,NaN,NaN,1,$0.00,1,730,1,1,730,730,1.0,730.0,never,t,30,60,90,365,2020-06-10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,moderate,f,f,1,0,1,0,NaN
2,42713,https://www.airbnb.com/rooms/42713,20200610033628,2020-06-11,Bed with Breakfast,We welcome you to this old character home with...,We live in an old (140yo) authentic Australian...,We welcome you to this old character home with...,none,Dongara is a west coast seaside town. The tow...,"The bedrooms are up stairs, the bathroom is d...",Being a small town there is no public transpor...,"Guests have access to lounge, dining, bathroo...",We generally socialise with guests if it suits...,"No Smoking inside, basic courtesy and manners,...",NaN,NaN,https://a0.muscache.com/im/pictures/8703808/19...,NaN,186576,https://www.airbnb.com/users/show/186576,Denise,2010-07-31,AU,Not applicable,NaN,NaN,80%,f,https://a0.muscache.com/im/users/186576/profil...,https://a0.muscache.com/im/users/186576/profil...,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,f,"Dongara, WA, Australia",NaN,IRWIN,NaN,Dongara,WA,6525,Other (International),"Dongara, Australia",AU,Australia,-29.25216,114.93205,t,House,Private room,2,1.0,1.0,1.0,Real Bed,"{Wifi,""Free parking on premises"",Washer/Dryer,...",215.0,$94.00,NaN,NaN,NaN,NaN,2,$20.00,1,730,1,1,730,730,1.0,730.0,3 months ago,t,30,60,90,365,2020-06-11,7,3,2015-06-03,2019-10-03,89.0,9.0,8.0,10.0,10.0,9.0,9.0,f,NaN,NaN,f,f,moderate,f,f,1,0,1,0,0.11
3,45825,https://www.airbnb.com/rooms/45825,20200610033628,2020-06-10,St James for short-longer stay?,"Suits busy and low maintenance businessmen, po...","Senior F in a quiet, secure, 3bedx2bath villa ...","Suits busy and low maintenance businessmen, po...",none,"bird life, proximity to amenities for daily li...",NaN,"Buses to CBD close by, train 1.4km away, and b...",NaN,As much as they would like or need as I live h...,"Eco-friendly living. mature, honest: clean coo...",NaN,NaN,https://a0.muscache.com/im/pictures/18323377/3...,NaN,204056,https://www.airbnb.com/users/show/204056,Carol,2010-08-17,"St James, Western Australia, Australia",I am a well-educated 64yo woman and rent out 2...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/204056/profil...,https://a0.muscache.com/im/users/204056/profil...,NaN,2.0,2.0,"['email', 'phone']",t,f,"St James, WA, Australia",NaN,CANNING,NaN,St James,WA,6102,Perth,"St James, Australia",AU,Australia,-32.00395,115.91394,t,Villa,Private room,1,1.0,1.0,1.0,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Free park...",NaN,$60.00,$385.00,"$1,100.00",$250.00,$20.00,1,$0.00,3,180,3,3,180,180,3.0,180.0,40 months ago,t,30,60,90,365,2020-06-10,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,f,f,strict_14_with_grace_period,t,f,2,0,2,0,NaN

In [ ]:
lis_.tail(5)

In [ ]:
lis_.info()

In [ ]:
lis_.describe()

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)